.mySwiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mySwiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.mySwiper .swiper-slide-active {
    transform: scale(1.02);
}

.mySwiper .swiper-slide:not(.swiper-slide-active) {
    opacity: 0.5;
    filter: blur(1px);
}

@media (min-width: 768px) {
    .mySwiper .swiper-slide {
        width: 450px;
    }
}